name: "Submit to Web Store"
on:
  release:
    types: [published]

env:
  NODE_OPTIONS: "--max-old-space-size=4096 --trace-warnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build and zip extension artifact
        run: pnpm run zip:all

      - name: Browser Platform Publish
        uses: PlasmoHQ/bpp@v3
        with:
          keys: ${{ secrets.SUBMIT_KEYS }}
          chrome-file: .output/statsig-browser-extension-{version}-chrome.zip
          firefox-file: .output/statsig-browser-extension-{version}-firefox.zip
          edge-file: .output/statsig-browser-extension-{version}-edge.zip
